:root {
  /* Primary Colors */
  --pink: hsl(322, 100%, 66%);
  /* Neutral Colors */
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --pinkHover: hsl(322, 97%, 76%);
  /* Fonts */
  --bodyFont: "Open Sans", sans-serif;
  --headingFont: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-size: 1.8rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
.header {
  background-color: var(--veryPaleCyan);
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  max-width: 42rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header {
    max-width: 144rem;
    background-image: url("../images/bg-hero-desktop.svg");
  }
}

.header__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.5rem 4rem;
}
@media (min-width: 768px) {
  .header__heading {
    padding: 5rem 8rem 7rem;
  }
}

.header__logo {
  width: 10.5rem;
  /* height: 2.5rem; */
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__logo {
    width: 21rem;
  }
}

@media (min-width: 992px) {
  .header__logo {
    height: 3.5rem;
  }
}

.header__try {
  line-height: 1;
  font-size: 1.2rem;
  padding: 0.9rem 2.25rem;
  font-weight: 700;

  background-color: var(--white);
  color: var(--black);

  box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  transition: color 0.5s;
}

@media (min-width: 768px) {
  .header__try {
    font-size: 1.8rem;
    padding: 1.6rem 5.5rem;
    letter-spacing: -0.009rem;
  }
}

.header__content {
  padding: 4rem 3.5rem 3rem;
}

@media (min-width: 768px) {
  .header__content {
    display: flex;
    align-items: center;
    padding: 0 8rem;
  }
}

@media (min-width: 992px) {
  .header__content {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__content {
    column-gap: 5rem;
  }
}

@media (min-width: 1440px) {
  .header__content {
    column-gap: 9rem;
    padding-bottom: 6.5rem;
  }
}

.header__title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 992px) {
  .header__title {
    font-size: 3.6rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 4rem;
  }
}

.header__paragraph {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 3rem;
  letter-spacing: -0.081rem;
}

@media (min-width: 992px) {
  .header__paragraph {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .header__paragraph {
    letter-spacing: unset;
  }
}

@media (min-width: 768px) {
  .header__title,
  .header__paragraph {
    text-align: left;
  }
}

.header__started {
  margin: 0 auto 5rem;
  text-align: center;
  width: 24rem;
  line-height: 1;
  padding: 1.5rem 2rem;
  background-color: var(--pink);
  color: var(--white);
  font-weight: 700;

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  transition: background-color 0.5s;
}

@media (min-width: 768px) {
  .header__started {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .header__started {
    column-gap: 4rem;
    width: 28rem;
    padding: 2rem 3rem;
  }
}

.header__mockup {
  height: 21.5rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  .header__mockup {
    min-height: 25rem;
  }
}

@media (min-width: 992px) {
  .header__mockup {
    width: 50%;
    height: 48.5rem;
  }
}

@media (min-width: 1440px) {
  .header__mockup {
    width: 68rem;
  }
}

/* Cards */
.cards {
  max-width: 42rem;
  padding: 6rem 2rem 3rem;
  /* background-color: aqua; */
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .cards {
    max-width: 144rem;
    padding: 16rem 8rem 8rem;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .cards {
    padding: 16rem 10rem 8rem;
  }
}

.card {
  display: flex;
  flex-direction: column-reverse;
  padding: 5rem 4rem 3.5rem;
  margin-bottom: 4rem;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    padding: 5.5rem 6rem;
  }
  .card:nth-of-type(2) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 992px) {
  .card {
    padding: 5.5rem 12rem;
  }
}

@media (min-width: 1440px) {
  .card {
    column-gap: 10rem;
  }
}

.card:last-of-type {
  margin: 0;
}

.card__image {
  height: 20rem;
  object-fit: contain;
  margin-bottom: 5.5rem;
}

@media (min-width: 768px) {
  .card__image {
    height: auto;
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .card__image {
    width: 41.5rem;
    height: 33.5rem;
    margin: 0;
  }
}

.card__heading {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.card__paragraph {
  text-align: center;
  letter-spacing: -0.081rem;
  margin-bottom: 4rem;
  color: var(--grayishBlue);
}

@media (min-width: 1440px) {
  .card__paragraph {
    margin: 0;
    line-height: 1.5;
    letter-spacing: unset;
  }
}

@media (min-width: 768px) {
  .card__heading,
  .card__paragraph {
    text-align: left;
  }
}

/* Footer */
.footer {
  background: linear-gradient(
    to bottom,
    var(--white) 0rem,
    var(--white) 15.7345rem,
    var(--veryDarkCyan) 15.7345rem,
    var(--veryDarkCyan) 100%
  );

  margin: 0 auto;
  padding: 6rem 1rem 5rem;
  max-width: 42rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 8rem 11.5rem 6.5rem;
    max-width: 144rem;
  }
}

@media (min-width: 992px) {
  .footer {
    background: linear-gradient(
      to bottom,
      var(--white) 0rem,
      var(--white) 23rem,
      var(--veryDarkCyan) 23rem,
      var(--veryDarkCyan) 100%
    );
  }
}

@media (min-width: 1440px) {
  .footer {
    background: linear-gradient(
      to bottom,
      var(--white) 0rem,
      var(--white) 27.2rem,
      var(--veryDarkCyan) 27.2rem,
      var(--veryDarkCyan) 100%
    );
  }
}

.footer__join {
  padding: 5rem 2.5rem 4rem;
  background-color: var(--white);

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;

  box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .footer__join {
    margin: 0 auto;
    max-width: 80rem;
  }
}

@media (min-width: 992px) {
  .footer__join {
    padding: 8rem 13.5rem 5rem;
  }
}

.footer__heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

@media (min-width: 992px) {
  .footer__heading {
    margin-bottom: 5rem;
    font-size: 2.8rem;
  }
}

.footer__started {
  margin: 0 auto;
  text-align: center;
  width: 24rem;
  padding: 2rem 3.5rem;
  font-weight: 700;
  line-height: 1;
  font-size: 1.4rem;

  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  border-radius: 10rem;

  background-color: var(--pink);
  color: var(--white);

  transition: background-color 0.5s;
}

@media (min-width: 992px) {
  .footer__started {
    font-size: 1.8rem;
    padding: 3.5rem 10rem;
    width: 40rem;
  }
}

@media (min-width: 1440px) {
  .footer__started {
    padding: 3.1rem 10rem;
  }
}

.footer__logo {
  display: block;
  margin: 7.5rem 0 3rem;
}

.footer__logo--icon,
.footer__logo--letter {
  fill: var(--white);
}

.footer__content {
  color: var(--white);
}

@media (min-width: 992px) {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .footer__content {
    grid-template-columns: 38rem repeat(2, 12rem) 1fr;
    column-gap: 3rem;
  }
}

@media (min-width: 1440px) {
  .footer__content {
    grid-template-columns: 1fr repeat(2, 12rem) 27rem;
    column-gap: 8rem;
  }
}

.footer__section {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
  margin-bottom: 3rem;
}

.footer__icon {
  width: 2.5rem;
  /* height: 2rem; */
  object-fit: contain;
}

.footer__descript {
  line-height: 1.5;
}

.footer__links--left {
  margin-top: 6.5rem;
}

@media (min-width: 992px) {
  .footer__links--left {
    margin-top: 0;
  }
}

.footer__link {
  margin-bottom: 3rem;
  color: var(--white);
}

.footer__social {
  margin-top: 5.5rem;
}

@media (min-width: 992px) {
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    height: 100%;
  }
}

.accounts {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.footer__account {
  display: block;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  border: solid 0.1rem var(--white);

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;

  fill: var(--white);

  transition: border 0.5s;
  transition: fill 0.5s;
}

.footer__copy {
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__copy {
    font-size: 1.2rem;
  }
}

/* Hover */
.header__try:hover {
  color: var(--grayishBlue);
}

.header__started:hover,
.footer__started:hover {
  background-color: var(--pinkHover);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__account:hover {
  fill: var(--pink);
  border: solid 0.1rem var(--pink);
}
/* Attribution */
.attribution {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 42rem;
  background-color: var(--veryDarkCyan);
}

@media (min-width: 768px) {
  .attribution {
    max-width: 144rem;
    padding: 5rem 0 0;
  }
}

.attribution__paragraph {
  text-align: center;
  color: var(--white);
}

.attribution__link {
  display: inline;
  color: var(--pink);
}
